body {
    overflow-x: hidden;
    overflow-y: scroll;
 
 

} 
.img1{
    height: 550px;
    width:100%;
    box-shadow: 0 4px 8px 0 ;
}
.dark-mode {
    background-color: black;
    color: white;
  }
.card-img-top{
    width: 250px;
    height: 250px;
}